/*---------all---------------*/
body{
  width:100%;
  background-image:url(/asset/img/backimg.jpg) no-repeat center center;
  background-size:cover;
}

.hambergar_menu{
  position:relative;
}
.menu_icon{
  width:100px;
  height:50px;
  position:fixed;
  top:20px;
  right:20px;
  cursor:pointer;
  z-index:3;
  display:inline-block;
}
.menu_icon span{
  display:block;
  height:1px;
  background:#fff;
  transition:0.5s;
}

.menu_toggle:checked + .menu_icon span:nth-child(1){
  transform:translateY(10px) rotate(45deg);
}
.menu_toggle:checked + .menu_icon span:nth-child(2){
  transform:translateY(10px) rotate(45deg);
}
/*---------------------------*/
/*-------TOP-----------------*/

/*---------------------------*/